body{
  background-color: black;
}
h1{
  color:red;
  font-family: "san-serif";
  font-size: 30px;
}
p{
  color: white;
  font-family: "Times New Roman";
  font-style:italic;
  font-size:20px;
}
.quote{
  background-color: white;
  width:40%;
  margin-right:auto;
  margin-left:auto;
  border-color:white;
  border-radius:5px;
  margin-top:20px;
  height:auto;
}
.author{
  color: white;
}
.btn1 {
  background-color: white;
  width:60%;
  margin-right:auto;
  margin-left:auto;
  border-color:white;
  margin-top:40px;
  height:auto;
  color:green;
}